#login-background {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  #login-content {
    display: flex;
    flex-direction: column;
    min-width: 400px;

    h1 {
      text-align: center;
    }
  }
}
