#menu-buttons {
  position: absolute;
  top: 40px;
  right: 40px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

@media (max-width: 600px) {
  #menu-buttons {
    right: 30px;
    flex-direction: column;
  }
}
