#site-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, max-content));
  grid-gap: 30px;
  justify-content: center;
  padding: initial;
  margin-top: 30px;
}

#site-list-none {
  text-align: center;
}
